.todo__container {
    border-radius: 5px;
    background-color: #77aaff !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.todo__container:hover {
    background-color: #5588ff!important;
}

.todo__container:not(:first-child) {
    margin-top: 10px;
}

.todo__content {
    font-size: 18px;
}

.completed {
    background-color: #3366ff !important;
    text-decoration: line-through;
    color: black;
}

.fadeOut {
    animation: fadeOut .3s;
}

.text {
    font-size: 50px!important;
}

@keyframes fadeOut {
    from { 
        opacity: 1;
        transform: translate3d(0, 100%,0);
    }

    to {
        opacity: 0;
        transform: none;
    }
}

.fadeIn {
    animation: fadeIn .7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0,0);
    } 
    
    to {
        opacity: 1;
        transform: none;
    }
}